# Turborepo
.turbo
node_modules
.env
.env.local
.env.*.local
.env.docker.local

# Build outputs
dist/
.next/
out/

# Drizzle
drizzle/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# pnpm
.pnpm-store/
